training_data_small/* filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_16.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_231.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_239.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_286.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_352.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_48.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_9.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_136.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_42.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_59.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_82.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_186.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_270.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_172.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_206.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_232.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_288.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_307.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_359.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_396.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_41.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_261.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_37.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_397.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_20.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_218.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_256.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_28.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_330.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_364.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_385.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_44.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_144.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_254.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_257.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_262.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_271.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_296.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_319.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_376.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_70.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_94.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_0.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_103.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_120.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_184.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_216.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_233.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_272.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_303.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_370.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_63.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_158.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_192.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_269.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_371.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_14.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_164.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_273.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_40.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_64.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_71.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_131.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_33.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_101.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_137.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_255.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_88.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_95.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_179.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_182.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_213.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_283.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_318.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_69.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_92.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_117.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_155.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_214.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_294.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_357.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_372.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_54.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_135.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_197.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_293.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_351.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_389.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_5.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_138.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_145.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_21.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_226.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_247.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_284.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_377.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_55.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_85.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_8.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_133.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_139.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_245.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_281.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_290.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_49.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_175.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_183.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_18.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_211.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_295.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_86.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_291.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_31.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_321.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_333.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_378.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_381.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_190.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_22.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_243.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_249.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_331.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_90.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_118.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_200.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_306.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_13.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_185.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_236.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_23.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_297.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_326.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_344.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_346.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_383.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_7.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_152.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_178.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_201.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_368.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_393.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_66.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_142.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_169.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_195.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_2.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_305.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_311.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_332.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_367.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_134.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_309.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_324.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_360.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_380.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_394.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_123.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_198.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_342.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_353.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_375.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_77.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_91.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_132.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_147.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_252.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_265.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_53.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_126.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_128.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_166.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_298.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_36.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_84.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_143.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_163.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_187.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_193.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_217.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_285.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_29.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_60.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_100.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_125.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_129.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_224.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_313.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_93.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_159.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_165.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_177.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_264.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_315.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_79.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_97.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_116.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_154.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_258.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_282.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_336.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_379.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_57.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_87.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_114.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_156.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_250.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_38.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_72.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_76.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_15.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_278.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_325.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_11.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_176.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_320.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_362.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_3.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_46.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_50.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_96.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_150.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_204.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_304.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_328.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_45.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_68.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_104.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_1.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_280.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_308.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_173.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_345.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_374.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_105.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_153.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_17.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_210.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_314.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_373.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_6.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_115.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_194.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_202.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_215.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_225.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_299.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_347.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_39.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_61.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_108.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_149.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_162.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_189.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_238.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_56.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_73.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_74.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_171.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_356.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_168.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_208.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_266.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_289.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_292.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_80.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_10.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_12.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_161.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_219.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_248.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_310.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_52.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_58.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_111.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_337.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_340.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_365.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_392.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_124.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_196.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_251.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_274.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_339.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_354.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_122.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_151.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_19.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_220.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_279.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_301.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_302.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_316.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_348.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_78.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_83.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_112.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_174.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_32.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_386.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_102.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_199.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_203.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_240.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_275.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_300.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_399.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_62.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_181.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_230.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_267.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_355.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_43.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_98.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_110.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_141.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_212.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_287.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_335.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_391.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_146.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_148.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_157.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_227.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_317.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_65.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_81.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_130.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_180.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_191.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_222.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_229.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_338.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_361.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_398.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_25.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_260.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_268.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_312.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_363.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_395.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_75.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_188.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_234.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_242.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_382.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_235.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_241.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_24.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_263.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_329.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_334.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_140.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_27.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_30.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_343.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_350.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_358.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_388.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_4.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_121.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_209.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_277.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_34.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_384.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_99.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_160.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_244.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_259.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_47.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_89.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_107.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_167.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_276.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_349.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_106.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_119.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_67.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_221.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_223.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_228.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_237.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_51.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_113.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_170.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_205.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_253.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_26.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_322.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_35.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_366.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_387.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_109.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_127.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_207.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_246.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_323.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_327.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_341.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_369.npy filter=lfs diff=lfs merge=lfs -text
training_data_small/arr_390.npy filter=lfs diff=lfs merge=lfs -text
